.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
 /*  align-items: center;
  justify-content: center; */
  width: 200px;

}

h1.example-app-name {
  margin-left: 8px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
 
  flex: 1;

}

.example-is-mobile .example-sidenav-container {
 
  flex: 1 0 auto;
}

.footer {
  height: 50px;
   background-color: #c2185b; 
} 
.fill-remaining-space {
  flex: 1 1 auto;
} */


/* 
md-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  md-sidenav-layout {
    background: rgba(0, 0, 0, .03);
  }
  .sidenav {
    width: 300px;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .footer {
    height: 50px;
    background-color: #c2185b;
  } */