<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
 <mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button color="accent" (click)="side.sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>￼

  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Preferencias</span>
    </button>
    <button mat-menu-item (click)="logout();">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container> 
  <app-sidenav #side>
  </app-sidenav>
  <mat-sidenav-content>

  </mat-sidenav-content>
  dadasdads
 </mat-sidenav-container>  

</div> -->
<!-- 
<mat-toolbar color="primary">
  <button mat-icon-button color="accent" (click)="side.sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 >Responsive App</h1>
</mat-toolbar>

<mat-sidenav-container>
  <app-sidenav #side></app-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>-->

 <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Fashion Style App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
                         
  
     <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <app-sidenav></app-sidenav>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
      </mat-nav-list>
    </mat-sidenav> 

    <mat-sidenav-content>
        <router-outlet></router-outlet>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> 
