

<mat-sidenav #sidenav class="sidenav">
  <mat-nav-list>
    <a mat-list-item (click)="sidenav.close()" [routerLink]="['productos']">
      <mat-icon mat-list-icon>Servicios</mat-icon>
      <span mat-line>Home</span>
      <span mat-line class="secondary"></span>
    </a>
    <a mat-list-item (click)="sidenav.close()" [routerLink]="['/categories']">
      <mat-icon mat-list-icon>list</mat-icon>
      <span mat-line>Libro Diario</span>
      <span mat-line class="secondary">Categories</span>
    </a>
    <a mat-list-item (click)="sidenav.close()" [routerLink]="['/tags']">
      <mat-icon mat-list-icon>bookmark</mat-icon>
      <span mat-line>Mensual</span>
      <span mat-line class="secondary">Tags</span>
    </a>
    <a mat-list-item (click)="sidenav.close()" [routerLink]="['/questions']">
      <mat-icon mat-list-icon>question_answer</mat-icon>
      <span mat-line>Estadisticas</span>
      <span mat-line class="secondary">Questions</span>
    </a>
  </mat-nav-list>
</mat-sidenav>

